@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    .ct-title{
        @apply text-6xl font-bold dark:text-white pt-8 font-sans max-w-md text-center whitespace-normal
    }
    .ct-title-text{
        @apply mt-3 text-xl text-neutral-600 dark:text-slate-400 font-sans whitespace-normal max-w-md break-words text-center
    }
    .ct-sub-1{
        @apply mt-10 pl-2 md:pl-4 text-4xl dark:text-white 
    }
    .ct-sub-2{
        @apply mt-4 pl-3 md:pl-6 text-3xl dark:text-white
    }
    .ct-sub-3{
        @apply mt-2 pl-5 md:pl-8 text-2xl dark:text-white
    }
    .ct-text{
        @apply mt-5 px-7 md:px-12 text-lg dark:text-slate-400
    }
    .link {
        @apply dark:text-white underline underline-offset-2 font-bold dark:decoration-blue-400 decoration-2 dark:hover:decoration-blue-500 hover:decoration-blue-500 decoration-blue-400
    }
    .fm-s{
        @apply dark:text-white inline py-[0.11rem] px-1.5 border-0 rounded-md  dark:bg-slate-700
    }
    .fm-lg{
        @apply -ml-7 md:-ml-12
    }
    .fm-ct{
        @apply dark:text-white border-0 py-[0.11rem] pl-3 pr-1.5 rounded-md dark:bg-slate-700 inline-flex
    }
    .anchor{
        @apply pt-20 -mt-20 
    }
    .c-em{
        @apply  border-0  px-1 rounded-md dark:bg-teal-800 dark:text-white inline-flex not-italic font-bold;
    }
    .curve{
        @apply mt-5 px-7 md:px-12
    }
    
}
@layer base{
    h3{
        @apply mt-10 pl-2 md:pl-4 text-4xl dark:text-white;
    }
    h4{
        @apply mt-4 pl-3 md:pl-6 text-3xl dark:text-white;
    }
    h5{
        @apply mt-2 pl-5 md:pl-8 text-2xl dark:text-white;
    }
    b{
        @apply font-bold dark:text-slate-200;
    }
    em{
        @apply  c-em;
    }
    hr{
        @apply my-20  
    }
}

.function-plot text{
    font-size: 15px;
    fill: white;
}
.function-plot path.origin {
    stroke: white;
}
.function-plot path.line {
    stroke: #115e59;
    stroke-width: 3;
  }
.function-plot .tip circle{
    fill: #0d9488;
}
.function-plot .canvas .content .annotations text{
    padding-left: 5px;
}
